/* Spacing, radius, border, sizing tokens — from shoalter-design-tokens.json */
:root {
  --space-component-gap-xs: 4px;
  --space-component-gap-sm: 8px;
  --space-component-gap-md: 12px;
  --space-component-gap-lg: 16px;
  --space-component-padding-xs: 4px;
  --space-component-padding-sm: 8px;
  --space-component-padding-md: 12px;
  --space-component-padding-lg: 16px;
  --space-layout-section-gap-md: 24px;
  --radius-none: 0px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
  --border-sm: 1px;
  --border-md: 2px;
  --typography-xs-font-size: 12px;
  --typography-xs-line-height: 16px;
  --typography-sm-font-size: 14px;
  --typography-sm-line-height: 20px;
  --typography-md-font-size: 16px;
  --typography-md-line-height: 22px;
  --component-height-xs: 24px;
  --component-height-sm: 28px;
  --component-height-md: 32px;
  --component-height-lg: 40px;
  --component-height-xl: 48px;
  --component-icon-sm: 16px;
  --component-icon-md: 24px;
  --component-icon-lg: 36px;
  --typography-lg-font-size: 20px;
  --typography-xxs-font-size: 10px;
  --typography-xxs-line-height: 14px;
  --typography-lg-line-height: 28px;
  --typography-xl-font-size: 24px;
  --typography-xl-line-height: 28px;
  --typography-2xl-font-size: 34px;
  --typography-2xl-line-height: 40px;
  --typography-3xl-font-size: 48px;
  --typography-3xl-line-height: 58px;
  --typography-4xl-font-size: 60px;
  --typography-4xl-line-height: 72px;
  --component-height-2xl: 56px;
  --component-height-3xl: 64px;
  --space-component-padding-xl: 24px;
  --space-component-padding-none: 0px;
  --space-component-gap-none: 0px;
  --space-layout-section-gap-none: 0px;
  --space-layout-section-gap-sm: 16px;
  --space-layout-section-gap-xs: 8px;
  --space-component-padding-2xl: 32px;
  --component-icon-xs: 12px;
  --component-width-modal-sm: 432px;
  --component-width-modal-md: 656px;
  --component-width-modal-lg: 1104px;
  --component-width-modal-xl: 1328px;
  --component-width-dropdown-sm: 280px;
  --component-width-dropdown-lg: 320px;
  --space-component-padding-3xl: 40px;
  --space-layout-section-padding-md: 24px;
  --space-layout-section-padding-lg: 36px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --space-layout-section-padding-sm: 16px;
  --space-component-padding-5xl: 56px;
  --space-component-padding-6xl: 80px;
  --space-component-padding-7xl: 104px;
  --component-height-5xl: 120px;
  --space-component-padding-8xl: 120px;
  --space-component-overlap-xs: -1px;
  --space-component-overlap-sm: -2px;
  --space-component-padding-4xl: 48px;
  --component-width-tooltip-sm: 160px;
  --component-width-tooltip-md: 240px;
  --component-width-tooltip-lg: 320px;
  --component-height-4xl: 72px;
  --component-width-modal-full: 1920px;
  --space-layout-section-padding-none: 0px;
}
